@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');

body {
  background-color: aliceblue;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: auto;
  font-family: 'Frijole', cursive;
}    

h1{
  font-size: 30px;
}

#myCanvas {
  background-image: url("360_F_571412508_hcNaMjLEQ55Ywc1BYfkgJH1KoVDKiuYy.jpg");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid white;
}



